<div class="chat-window">
  <div class="chat-message-list">
    <div *ngFor="let message of messages" class="message-item" [ngClass]="{ 'user-message': message.type === 'user', 'bot-message': message.type === 'bot' }">
      <div class="message-body" [ngClass]="{ 'user-message-body': message.type === 'user', 'bot-message-body': message.type === 'bot' }">
        <p>{{ message.content }}</p>
        <span class="timestamp">{{ message.timestamp | date:'h:mm a' }}</span>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <div class="input-container">
      <input type="text" [(ngModel)]="inputMessage" placeholder="Type your message..." (keyup.enter)="sendMessage()">
      <button mat-icon-button (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
